## Unity ##

*.cs diff=csharp text
*.cginc text
*.shader text
*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf
## git-lfs ##
#Image
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
#Audio
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
#Video
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
#3D Object
*.FBX filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
#ETC
#*.a filter=lfs diff=lfs merge=lfs -text
#*.exr filter=lfs diff=lfs merge=lfs -text
#*.tga filter=lfs diff=lfs merge=lfs -text
#*.pdf filter=lfs diff=lfs merge=lfs -text
#*.zip filter=lfs diff=lfs merge=lfs -text
#*.dll filter=lfs diff=lfs merge=lfs -text
#*.unitypackage filter=lfs diff=lfs merge=lfs -text
#*.aif filter=lfs diff=lfs merge=lfs -text
#*.ttf filter=lfs diff=lfs merge=lfs -text
#*.rns filter=lfs diff=lfs merge=lfs -text
#*.reason filter=lfs diff=lfs merge=lfs -text
#*.lxo filter=lfs diff=lfs merge=lfs -text
Assets/mmsys-logo.png !text !filter !merge !diff
$(Get-Content[[:space:]]lfs-files.txt[[:space:]]-join[[:space:]]' !text !filter !merge !diff
') !text !filter !merge !diff
Assets/Mats/Floor/Plaster[[:space:]]01_ambientOcclusion.png !text !filter !merge !diff
Assets/Mats/Floor/Plaster[[:space:]]01_diffuse.png !text !filter !merge !diff
Assets/Mats/Floor/Plaster[[:space:]]01_normal.png !text !filter !merge !diff
Assets/Mats/Floor/Plaster[[:space:]]01_roughness.png !text !filter !merge !diff
Assets/Mats/Wall/Wall[[:space:]]Paint[[:space:]]01_diffuse.png !text !filter !merge !diff
Assets/Mats/Wall/Wall[[:space:]]Paint[[:space:]]01_normal.png !text !filter !merge !diff
Assets/Mats/Wall/Wall[[:space:]]Paint[[:space:]]01_roughness.png !text !filter !merge !diff
Assets/SPIRIT_logo_rgb_color-2048x956.png !text !filter !merge !diff
Assets/Samples/XR[[:space:]]Interaction[[:space:]]Toolkit/2.4.3/Starter[[:space:]]Assets/Audio/Button[[:space:]]Pop.wav !text !filter !merge !diff
Assets/Samples/XR[[:space:]]Interaction[[:space:]]Toolkit/2.4.3/Starter[[:space:]]Assets/Models/Primitive_Cylinder.fbx !text !filter !merge !diff
Assets/Samples/XR[[:space:]]Interaction[[:space:]]Toolkit/2.4.3/Starter[[:space:]]Assets/Models/Primitive_Pyramid.fbx !text !filter !merge !diff
Assets/Samples/XR[[:space:]]Interaction[[:space:]]Toolkit/2.4.3/Starter[[:space:]]Assets/Models/Primitive_Torus.fbx !text !filter !merge !diff
Assets/Samples/XR[[:space:]]Interaction[[:space:]]Toolkit/2.4.3/Starter[[:space:]]Assets/Models/Primitive_Wedge.fbx !text !filter !merge !diff
Assets/Samples/XR[[:space:]]Interaction[[:space:]]Toolkit/2.4.3/Starter[[:space:]]Assets/Models/PushButton.fbx !text !filter !merge !diff
Assets/Samples/XR[[:space:]]Interaction[[:space:]]Toolkit/2.4.3/Starter[[:space:]]Assets/Models/XRControllerLeft.fbx !text !filter !merge !diff
Assets/Samples/XR[[:space:]]Interaction[[:space:]]Toolkit/2.4.3/Starter[[:space:]]Assets/Models/XRControllerRight.fbx !text !filter !merge !diff
Assets/Samples/XR[[:space:]]Interaction[[:space:]]Toolkit/2.4.3/Tunneling[[:space:]]Vignette/TunnelingVignetteHemisphere.fbx !text !filter !merge !diff
Assets/Scenes/BasicScene/Grid_Light_512x512.png !text !filter !merge !diff
Assets/Scenes/SampleScene/Lightmap-0_comp_dir.png !text !filter !merge !diff
Assets/Scenes/SampleScene/Lightmap-0_comp_shadowmask.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Ground_Tile_01/Ground_01_ambientocclusion.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Ground_Tile_01/Ground_01_basecolor.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Ground_Tile_01/Ground_01_height.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Ground_Tile_01/Ground_01_normal.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Ground_Tile_01/Ground_01_roughness.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Brick_01/leaf_ambientocclusion.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Brick_01/leaf_basecolor.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Brick_01/leaf_height.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Brick_01/leaf_normal.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Brick_01/leaf_roughness.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Stone_01/Stone_Tile_01_ambientocclusion.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Stone_01/Stone_Tile_01_basecolor.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Stone_01/Stone_Tile_01_height.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Stone_01/Stone_Tile_01_normal.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Stone_01/Stone_Tile_01_roughness.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Tiles_02/CubbleStone_ArcTiles_Custom_ambientocclusion.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Tiles_02/CubbleStone_ArcTiles_Custom_basecolor.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Tiles_02/CubbleStone_ArcTiles_Custom_height.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Tiles_02/CubbleStone_ArcTiles_Custom_normal.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Stylized_Tiles_02/CubbleStone_ArcTiles_Custom_roughness.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Wood_Surface_01/Wood_Planks_ambientocclusion.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Wood_Surface_01/Wood_Planks_basecolor.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Wood_Surface_01/Wood_Planks_height.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Wood_Surface_01/Wood_Planks_metallic.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Wood_Surface_01/Wood_Planks_normal.png !text !filter !merge !diff
Assets/Stylized[[:space:]]Texture[[:space:]]Pack/Stylized[[:space:]]Texture[[:space:]]Pack[[:space:]]2k[[:space:]].png/Wood_Surface_01/Wood_Planks_roughness.png !text !filter !merge !diff
Assets/TextMesh[[:space:]]Pro/Sprites/EmojiOne.png !text !filter !merge !diff
Assets/VRTemplateAssets/Audio/Button_14_hover.wav !text !filter !merge !diff
Assets/VRTemplateAssets/Audio/Button_22_click.wav !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Anchor[[:space:]]Materials/Anchor[[:space:]]Glow[[:space:]]Gradient.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Anchor[[:space:]]Materials/White_Mixed_AO.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Controller/DefaultMaterial_AO.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/Concrete_Albedo.tif !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/Concrete_Metallic.tif !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/Concrete_Normal.tif !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/Frosted_Glass_Pattern_AlbedoTransparency.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall2_Base_color.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall2_Height.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall2_Metallic.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall2_Normal.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall2_Normal_OpenGL.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall2_Roughness.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall_Base_color.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall_Height.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall_Metallic.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall_Normal.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall_Normal_OpenGL.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Environment/wall_Roughness.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Locomotion/BlinkOcclusionTexture.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/fabric_Base_color.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/fabric_Height.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/fabric_Metallic.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/fabric_Normal.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/fabric_Normal_OpenGL.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/fabric_Roughness.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/torus_Base_color.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/torus_Height.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/torus_Metallic.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/torus_Normal.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/torus_Normal_OpenGL.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Primitive/torus_Roughness.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/Skybox/skybox01_openGL.png !text !filter !merge !diff
Assets/VRTemplateAssets/Materials/UI/torus_cursorShape.png !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Anchor/AnchorArrow.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Anchor/AnchorBase.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Anchor/AnchorFade.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Blink/BlinkVisual.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Controllers/UniversalController.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Cursors/cursor.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Environment/Arrows.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Environment/Blaster.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Environment/Template[[:space:]]Environment.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Environment/Torus[[:space:]]Cut.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Environment/Totem1.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Environment/Totem2.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Marks/Marks.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Poke/PokePointer.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Primitives/Cube.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Primitives/Cylinder.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Primitives/Sphere.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Primitives/Tapered[[:space:]]Cylinder.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/Primitives/Torus.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Models/UI/Spatial[[:space:]]Panel[[:space:]]Manipulator[[:space:]]Model.fbx !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/CoachingCards/Coaching[[:space:]]Step[[:space:]]1.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/CoachingCards/Coaching[[:space:]]Step[[:space:]]2.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/CoachingCards/Coaching[[:space:]]Step[[:space:]]3.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/CoachingCards/Coaching[[:space:]]Step[[:space:]]4.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/CoachingCards/Coaching[[:space:]]Step[[:space:]]5.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/CoachingCards/Coaching[[:space:]]Step[[:space:]]6.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Checkmark.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Chevron.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Forward.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Pause.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Play.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Rotate[[:space:]]Left.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Rotate[[:space:]]Right.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Scroll[[:space:]]Down.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Scroll[[:space:]]Left.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Scroll[[:space:]]Right.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Scroll[[:space:]]Up.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/Icons/Teleport.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/CircleMask.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/Circle_60x60[[:space:]]Outline[[:space:]]4.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/Circle_60x60[[:space:]]Outline.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/Circle_60x60_Horizontal.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/Circle_60x60_Vertical.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/Joystick[[:space:]]BG.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/Joystick[[:space:]]Segment.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/Round[[:space:]]Radius[[:space:]]10[[:space:]]Bottom.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/Round[[:space:]]Radius[[:space:]]10[[:space:]]Outline.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/Round[[:space:]]Radius[[:space:]]10[[:space:]]Top.png !text !filter !merge !diff
Assets/VRTemplateAssets/Sprites/UI/Round[[:space:]]Radius[[:space:]]10.png !text !filter !merge !diff
Assets/VRTemplateAssets/Tutorial/Images/1-welcome-screen-image.png !text !filter !merge !diff
Assets/VRTemplateAssets/Tutorial/Images/project-header-vr.png !text !filter !merge !diff
Assets/VRTemplateAssets/Videos/onboarding_video_final.mp4 !text !filter !merge !diff
Assets/carpet1-unity/carpet1-Height.png !text !filter !merge !diff
Assets/carpet1-unity/carpet1-Metallic.psd !text !filter !merge !diff
Assets/carpet1-unity/carpet1-Normal-ogl.png !text !filter !merge !diff
Assets/carpet1-unity/carpet1-albedo.png !text !filter !merge !diff
Assets/carpet1-unity/carpet1-ao.png !text !filter !merge !diff
Assets/carpet1-unity/carpet1-preview.jpg !text !filter !merge !diff
$(Get-Content[[:space:]]lfs.txt) !text !filter !merge !diff
11516b130f[[:space:]]-[[:space:]]Assets/Plugins/pcl_filters.dll !text !filter !merge !diff
a2c7e354a3[[:space:]]-[[:space:]]Assets/Plugins/pcl_octree.dll !text !filter !merge !diff
4979bd333c[[:space:]]-[[:space:]]Assets/Plugins/pcl_sample_consensus.dll !text !filter !merge !diff
fd940b11c1[[:space:]]-[[:space:]]Assets/Plugins/realsense2[[:space:]]1.dll !text !filter !merge !diff
fd940b11c1[[:space:]]-[[:space:]]Assets/Plugins/realsense2.dll !text !filter !merge !diff
3bdd2debf0[[:space:]]-[[:space:]]Assets/Scenes/SampleScene/Lightmap-0_comp_light.exr !text !filter !merge !diff
21952b0c2f[[:space:]]-[[:space:]]Build/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll !text !filter !merge !diff
dc34d5c8bf[[:space:]]-[[:space:]]Build/UnityPlayer.dll !text !filter !merge !diff
691e8e4292[[:space:]]-[[:space:]]Build/spirit_unity_Data/Managed/System.Core.dll !text !filter !merge !diff
2ed83fa055[[:space:]]-[[:space:]]Build/spirit_unity_Data/Managed/System.Data.dll !text !filter !merge !diff
98686aa6d6[[:space:]]-[[:space:]]Build/spirit_unity_Data/Managed/System.Xml.dll !text !filter !merge !diff
1fc68027ca[[:space:]]-[[:space:]]Build/spirit_unity_Data/Managed/System.dll !text !filter !merge !diff
779cff2ee6[[:space:]]-[[:space:]]Build/spirit_unity_Data/Managed/Unity.InputSystem.dll !text !filter !merge !diff
2e2de9b289[[:space:]]-[[:space:]]Build/spirit_unity_Data/Managed/UnityEngine.CoreModule.dll !text !filter !merge !diff
26ca3f664c[[:space:]]-[[:space:]]Build/spirit_unity_Data/Managed/UnityEngine.UIElementsModule.dll !text !filter !merge !diff
aa4a49ef1d[[:space:]]-[[:space:]]Build/spirit_unity_Data/Managed/mscorlib.dll !text !filter !merge !diff
8a584893f1[[:space:]]-[[:space:]]Build/spirit_unity_Data/Plugins/x86_64/openxr_loader.dll !text !filter !merge !diff
11516b130f[[:space:]]-[[:space:]]Build/spirit_unity_Data/Plugins/x86_64/pcl_filters.dll !text !filter !merge !diff
a2c7e354a3[[:space:]]-[[:space:]]Build/spirit_unity_Data/Plugins/x86_64/pcl_octree.dll !text !filter !merge !diff
4979bd333c[[:space:]]-[[:space:]]Build/spirit_unity_Data/Plugins/x86_64/pcl_sample_consensus.dll !text !filter !merge !diff
fd940b11c1[[:space:]]-[[:space:]]Build/spirit_unity_Data/Plugins/x86_64/realsense2[[:space:]]1.dll !text !filter !merge !diff
fd940b11c1[[:space:]]-[[:space:]]Build/spirit_unity_Data/Plugins/x86_64/realsense2.dll !text !filter !merge !diff
21952b0c2f[[:space:]]-[[:space:]]Build2/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll !text !filter !merge !diff
dc34d5c8bf[[:space:]]-[[:space:]]Build2/UnityPlayer.dll !text !filter !merge !diff
691e8e4292[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Managed/System.Core.dll !text !filter !merge !diff
2ed83fa055[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Managed/System.Data.dll !text !filter !merge !diff
98686aa6d6[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Managed/System.Xml.dll !text !filter !merge !diff
1fc68027ca[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Managed/System.dll !text !filter !merge !diff
779cff2ee6[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Managed/Unity.InputSystem.dll !text !filter !merge !diff
2e2de9b289[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Managed/UnityEngine.CoreModule.dll !text !filter !merge !diff
26ca3f664c[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Managed/UnityEngine.UIElementsModule.dll !text !filter !merge !diff
aa4a49ef1d[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Managed/mscorlib.dll !text !filter !merge !diff
8a584893f1[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Plugins/x86_64/openxr_loader.dll !text !filter !merge !diff
11516b130f[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Plugins/x86_64/pcl_filters.dll !text !filter !merge !diff
a2c7e354a3[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Plugins/x86_64/pcl_octree.dll !text !filter !merge !diff
4979bd333c[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Plugins/x86_64/pcl_sample_consensus.dll !text !filter !merge !diff
fd940b11c1[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Plugins/x86_64/realsense2[[:space:]]1.dll !text !filter !merge !diff
fd940b11c1[[:space:]]-[[:space:]]Build2/spirit_unity_Data/Plugins/x86_64/realsense2.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Plugins/x86_64/realsense2.dll !text !filter !merge !diff
Assets/Plugins/pcl_filters.dll !text !filter !merge !diff
Assets/Plugins/pcl_octree.dll !text !filter !merge !diff
Assets/Plugins/pcl_sample_consensus.dll !text !filter !merge !diff
Assets/Plugins/realsense2[[:space:]]1.dll !text !filter !merge !diff
Assets/Plugins/realsense2.dll !text !filter !merge !diff
Build/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll !text !filter !merge !diff
Build/UnityPlayer.dll !text !filter !merge !diff
Build/spirit_unity_Data/Managed/System.Core.dll !text !filter !merge !diff
Build/spirit_unity_Data/Managed/System.Data.dll !text !filter !merge !diff
Build/spirit_unity_Data/Managed/System.Xml.dll !text !filter !merge !diff
Build/spirit_unity_Data/Managed/System.dll !text !filter !merge !diff
Build/spirit_unity_Data/Managed/Unity.InputSystem.dll !text !filter !merge !diff
Build/spirit_unity_Data/Managed/UnityEngine.CoreModule.dll !text !filter !merge !diff
Build/spirit_unity_Data/Managed/UnityEngine.UIElementsModule.dll !text !filter !merge !diff
Build/spirit_unity_Data/Managed/mscorlib.dll !text !filter !merge !diff
Build/spirit_unity_Data/Plugins/x86_64/openxr_loader.dll !text !filter !merge !diff
Build/spirit_unity_Data/Plugins/x86_64/pcl_filters.dll !text !filter !merge !diff
Build/spirit_unity_Data/Plugins/x86_64/pcl_octree.dll !text !filter !merge !diff
Build/spirit_unity_Data/Plugins/x86_64/pcl_sample_consensus.dll !text !filter !merge !diff
Build/spirit_unity_Data/Plugins/x86_64/realsense2[[:space:]]1.dll !text !filter !merge !diff
Build/spirit_unity_Data/Plugins/x86_64/realsense2.dll !text !filter !merge !diff
Build2/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll !text !filter !merge !diff
Build2/UnityPlayer.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Managed/System.Core.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Managed/System.Data.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Managed/System.Xml.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Managed/System.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Managed/Unity.InputSystem.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Managed/UnityEngine.CoreModule.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Managed/UnityEngine.UIElementsModule.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Managed/mscorlib.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Plugins/x86_64/openxr_loader.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Plugins/x86_64/pcl_filters.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Plugins/x86_64/pcl_octree.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Plugins/x86_64/pcl_sample_consensus.dll !text !filter !merge !diff
Build2/spirit_unity_Data/Plugins/x86_64/realsense2[[:space:]]1.dll !text !filter !merge !diff
